@{
    ViewBag.Title = "联系我们";
}
<div class="row">
    <h3>@ViewBag.Message</h3>
    <address>
        <strong>联系方式</strong><br />
        <strong>联系电话:</strong>17608219172<br />
        <strong>QQ邮箱:</strong>   <a href="mailto:2414275966@qq.com">2414275966@qq.com</a><br />
        <strong>网易邮箱:</strong> <a href="mailto:h2414275966@163.com">h2414275966@163.com</a>
    </address>
</div>
